@import url('https://fonts.googleapis.com/css?family=Raleway:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
    user-select: none;
}
::selection{
    background: var(--color-red-mian);
    color: var(--color-black-mian);
}
:root{
    --main-color: #343434;
    --main-color-2:#EC5047;
    --color-white: #fff;
}
::-webkit-scrollbar{
    width: 4px;
    color:var(--main-color-2);
    transition: all .4s ease;
}
::-webkit-scrollbar-thumb {
    background: var(--main-color-2); 
    border-radius: 4px;
    width: 4px;
    transition: all .4s ease;
  }
::-webkit-scrollbar-track {
background: var(--main-color); 
border-radius: 4px;
width: 4px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
#loader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100vh;
    position: fixed;
    z-index:100;
    font-family: poppins;
    background-color: var(--main-color);
    color: whitesmoke;
    font-size: 70px;
    width: 100%;
}
#loader span span{
    color:var(--main-color-2)
}
html{
    background: #171717;
    scroll-behavior: smooth;
}
.cursor{
height: 50px;
width: 50px;
display: block;
border-radius: 50%;
border: 1px solid whitesmoke;
background: transparent;
pointer-events: none;
position: fixed;
top: -25px;
left: -25px;
z-index: 10;
opacity: .6;
transition:  scale .5s ease;
}
/* start style page home  */
ul{
    /* text-align: center; */
    list-style: none;
}
a{
    text-decoration: none;
}
/* start style header (navbar) */
@media(min-width: 1000px){
    .navbar{
        background: var(--main-color);
        position: relative;
        width: 100%;
        height: 160px;
    }
    .navbar .container{
        width: 95%;
        margin: 0 auto;
    }
    .navbar #navigation-bar{
        display: none;
    }
    .navbar .navigation-close{
        display: none;
    }
    .navbar #navigation-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar .navigation-links ul{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar .navigation-links ul a{
        color: var(--color-white);
        margin: 0 15px;
        padding-bottom: 5px;
        display: inline-block;
        border-bottom: 1px solid transparent;
        transition: all 0.3s;
    }
    .navbar .navigation-links ul a:hover{
        color: var(--main-color-2);
        border-bottom: 1px solid var(--main-color-2);
    }
}
.navbar .navigation-links ul li select{
    background: transparent;
    color: var(--color-white);
    outline: none;
    padding: 8px 15px;
    cursor: pointer;
}
.navbar .navigation-links ul li select:focus,
.navbar .navigation-links ul li select:hover {
    outline: none;
    border-color: var(--main-color-2);
    box-shadow: 0 0 0 0.2rem rgba(236, 79, 71, 0.349);
}
.navbar .navigation-links ul li select option {
    padding: 10px;
    background-color: var(--main-color);
    /* color: var(--color-white); */
    font-size: 16px;
}

.navbar .navigation-links ul li select option:hover {
    background-color: var(--main-color-2);
}
.navbar .navigation-links ul li select option::selection{
    background-color: var(--main-color-2);
}
.navbar .navigation-links ul li select option:checked {
    background-color: var(--main-color-2); /* لون الخلفية عند الاختيار */
    color: #ffffff; /* لون النص عند الاختيار */
}
@media(max-width: 1000px){
    .navbar .navigation-links ul li select{
        padding: 8px 60px;
    }
    .cursor{
        display: none;
    }
    ul{
        text-align: center;
    }
#navigation-content{
    height: 100vh;
    width: 100%;
    position:fixed;
    z-index: 5;
    background-color:var(--main-color);
    transform: translateY(-200%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#navigation-bar{
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 3;
    padding: 10px;
    background-color:var(--main-color);
    overflow: hidden;
}
.menubar{
    position: absolute;
    right:4%;
    top: 40%;
    cursor: pointer;
    opacity: .8;
    transition: all .4s ease;
}
.menubar span{
    position: relative;
    background-color:transparent;
    height:2px;
    width: 20px;
    display: block;
    margin:6px;
    border-radius: 20px;
}
.menubar .first-span{
    width:35px;
}
.menubar .first-span::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    top:0;
    right:0;
    background-color:whitesmoke;
    transition: all .5s ease;

}
.menubar .second-span{
    width:35px;
}
.menubar .second-span::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 75%;
    top:0;
    right:0;
    background-color:whitesmoke;
    transition: all .3s ease;
}
.menubar .third-span{
    width:35px;
}
.menubar .third-span::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    right:0;
    background-color:whitesmoke;
    transition: all .3s ease;
}
.menubar:hover .second-span::before , .menubar:hover .first-span::before {
    width: 100%;
}
.menubar:hover{
    opacity: 1;
}
.close-first , .close-second{
 height: 2px;
 width: 35px;
 background-color: whitesmoke;
 display: block;
 margin: 4px;
 cursor: pointer;
 padding: 1px;
 border-radius: 20px;
}
.close-first {
    transform: rotate(45deg);
}
.close-second{
    transform: rotate(-45deg);
}
.navigation-close{
    position: absolute;
    top: 6%;
    right:4%;
    padding: 10px;
    cursor: pointer;
    transition: all.3s ease;
    opacity: .8;
}
.navigation-close:hover{
    opacity: 1;
    transform: rotate(90deg);
}
.logo img{
    height: 80px;
    position: absolute;
    top: 3%;
    left: 2.5%;
    opacity: .8;
    z-index: 2;
    cursor: pointer;
    transition: all .4s ease;
}
.logo img:hover{
    opacity: 1;
}
#navigation-bar img{
    height: 80px;
    position: absolute;
    ;
    top: 15%;
    left: 2.5%;
    opacity: .8;
    transition: all .4s ease;
}
#navigation-bar img:hover{
    opacity: 1;
}
.header-image img{
    height: 100vh;
    float: right;
}
.header-image{
    float: right;
    height: auto;
    background-size: cover;
    background-position: center;
    width: 40%;   
    height: 100vh;

}
.header-content{
    height: 100vh;
    width: 100%;
    float: left;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-family: raleway;
    font-weight: 400;
    letter-spacing: 1px;
    flex-direction: column;
    font-size: 50px;
    z-index: 1;
}
.header-content-box{
    z-index: 2;
    text-align: center;
    height: auto;
    padding-right: 60px;
    width: auto;

}
.header-content .firstline{
    z-index: 2;
    font-weight:700;
    font-family: poppins;
    font-size: 65px;
}
.header-content .secondline{
    z-index: 2;
    font-size: 30px;
    padding-top:20px ;
    font-weight:500;
    color: rgb(255, 255, 255,.8);
}
.slash{
    animation-name: animateslash;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes animateslash{
    0%{
        opacity: 1;
        z-index: 2;
    }
    100%{
        opacity: 0;
        z-index: 0;
    }
}
@-webkit-keyframes animateslash{
    0%{
        opacity: 1;
        z-index: 2;
    }
    100%{
        opacity: 0;
        z-index: 0;
    }
}
.navigation-links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family:poppins;
}
.navigation-links a{
    padding:10px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    opacity: .7;
    transition: all .4s ease;
}
.navigation-links a:hover{
    opacity: 1;
}
.navigation-links a::before{
    content: "";
    position: absolute;
    top:50%;
    left: 50%;
    display: flex;
    justify-content: center;
    transform: translate(-50%,-50%);
    align-items: center;
    font-size: 2.5em;
    font-weight: 400;
    font-family: monoton;
    color:rgb(255, 255, 255,.1);
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    letter-spacing: 100px;
    transition: all .4s ease;
}
.navigation-links a:hover::before{
    content: attr(data-text);
    opacity: 1;
    letter-spacing: 10px;
}
}
/* start style slider  */
.slider{
    background: var(--main-color);
    min-height: calc(100vh - 160px);
    max-height: calc(100vh - 160px);
    overflow: hidden;
    margin-bottom: 50px;
}
.slider .feat{
    width: 500px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}
.slider .feat .div-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.slider .container .feat .div-text .div-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px 0;
    /* margin-right: -50px; */
}
.slider .container .feat .div-text .div-title h3{
    margin: 0 20px;
    font-size: 4rem;
    color: var(--color-white);
}
.slider .container .feat .div-text .div-title span{
    font-size: 12px;
    color: #ddd;
}
.slider .container .feat .div-text .div-title .btn{
    background: var(--main-color-2);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 10px;
}
.slider .feat .div-text p{
    color: var(--color-white);
    margin: 20px 0;
    font-size: 1.5rem;
}
.slider .feat .div-img img{
    width: 100%;
    display: block;
    margin: 13px 0;
}
.div-links ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-b{
    margin: 20px 10px;
}
.btn-b{
    padding: 8px 25px;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s;
}
.btn-red{
    background: var(--main-color-2);
    color: var(--color-white);
}
.btn-white{
    background: var(--color-white);
    color: var(--main-color);
}
.btn-b:hover{
    opacity: 0.5;
}
@media(max-width: 1000px){
    .slider .container .feat .div-text .div-title{
        flex-direction: column;
    }
    .slider .feat{
        width: 100%;
    }
    .slider .feat .div-img img{
        width: 60%;
        margin: 0 auto;
    }
}
/* start our-news */
.our-news{
    /* padding: 40px 0; */
    min-height: 100vh;
    position: relative;
    background: #171717;
}
.our-news .container{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.our-news .container .feat{
    background: var(--main-color);
    color: var(--color-white);
    width: 95%;
    margin: 20px 20px;
    height: 100%;
    padding: 40px 0;
    text-align: center;
    -webkit-box-shadow: 0 7px 13px 0 rgba(230, 8, 8, 0.192);
    box-shadow: 0 7px 13px 0 rgba(230, 8, 8, 0.192);
}
.our-news .container .feat .div-text{
    margin-bottom: 50px;
}
.our-news .container .feat .div-text .div-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px 0;
}
.our-news .container .feat .div-text .div-title h3{
    margin: 0 20px;
    font-size: 4rem;
}
.our-news .container .feat .div-text .div-title span{
    font-size: 12px;
    color: #ddd;
}
.our-news .container .feat .div-text .div-title .btn{
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 10px;
}
.btn-green{
    background: green;
}
.btn-orange{
    background: orange;
}
.our-news .container .feat .div-img{
    width: 100%;
}
.our-news .container .feat .div-img img{
    width: 80%;
    margin: 10px auto;
}
@media(max-width: 1000px){
    .our-news .container{
        flex-direction: column;
    }   
    .our-news .container .feat .div-text .div-title{
        flex-direction: column;
    }
}
/* start style solutions */
.solutions{
    padding: 40px 0;
    color: var(--color-white);
    text-align: center;
}
.div-title h3{
    font-size: 4rem;
    margin: 10px 0;
}
.solutions .container{
    width: 90%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.solutions .feat{
    width: 30%;
    min-height: 420px;
    margin: 10px 20px;
    background: red;
    padding: 0;
    background-image: url('../images/solutions/img.png');
    position: relative;
    z-index: 1;
}
.solutions .feat::after{
    background: linear-gradient(to bottom, var(--main-color-2), var(--main-color));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: 0.8;
    z-index: -1;
}
.solutions .feat .div-text{
    position: absolute;
    top: 20px;
    color: var(--color-white);
    left: 50%;
    transform: translate(-50%);
}
.solutions .feat .div-links{
    position: absolute;
    bottom: 30px;
    /* left: 50%; */
    width: 100%;
}
@media(max-width: 1000px){
    .solutions .container{
        flex-direction: column;
    }   
    .solutions .feat{
        width: 80%;
    }
}
/* start style video-gallery */
.video-gallery{
    text-align: center;
    color: var(--color-white);
}
.video-gallery .container{
    width: 90%;
    margin: 0 auto;
}
.video-gallery .swiper {
    width: 100%;
    height: 100%;
    margin: 40px 0;
}
.video-gallery .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 90%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    -webkit-box-shadow: 0 7px 13px 0 rgba(230, 8, 8, 0.075);
    box-shadow: 0 7px 13px 0 rgba(230, 8, 8, 0.075);
}
.video-gallery .swiper-slide video {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    width: 40px;
    padding: 5px;
    border-radius: 5px;
}
.swiper-pagination-bullet-active{
    width: 40px;
    padding: 5px;
    border-radius: 5px;
    background: var(--main-color-2);
}
/* start style latest-news */
.latest-news{
    text-align: center;
    color: var(--color-white);
}
.latest-news .container{
    width: 90%;
    margin: 0 auto;
}
.latest-news .swiper {
    width: 100%;
    height: 100%;
}
.latest-news .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: url('../images/solutions/img.png');
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    position: relative;
}
.latest-news .swiper-slide::after{
    background: linear-gradient(to top, var(--main-color-2), var(--main-color));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: 0.8;
    z-index: -1;   
}
.latest-news.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.latest-news .swiper-slide .div-text{
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: start;
}
.latest-news .swiper-slide .div-text h4{
    font-size: 18px;
}
.latest-news .swiper-slide .div-text span{
    font-size: 12px;
}
/* start style footer  */
.footer{
    background: var(--main-color);
}
.footer .container{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    color: var(--color-white);
}
@media(max-width: 1000px){
    .footer .container{
        flex-direction: column;
    }
}
#myBtn {
    display: none; 
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    color: #fff;
    background: var(--main-color-2);
    cursor: pointer;
    font-size: 20px;
    padding: 10px; 
    border-radius: 5px;
    transition: all 0.5s;
  }
  
  #myBtn:hover {
    background: var(--main-color);
  }